.banniere {
    position: relative;
    height: 223px;
    background-image: url(../assets/images/IMG.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.banniere::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/images/IMG.png);
    background-size: cover;
    background-position: center;
    filter: brightness(35%); 
    z-index: 1; 
    border-radius: 25px;
}

.banniere_text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 48px;
    font-weight: bold;
}
