.container_info_blockG h2 {
    color: #FF6060;
    font-size: 36px;
    margin: 0;
    font-weight: 500;
}

.container_info {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_info_blockG_localisation {
    color: black;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.container_info_blockG_tags_text {
    background-color: #FF6060;
    color: white;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;

    p {
        margin: 0;
    }
}

.container_info_blockG_tags {
    display: flex;
    gap: 15px;
}

.container_info_blockD_host {
    color: #FF6060;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    margin: 0;
    max-width: 93px;
    font-weight: 500;
}

.container_info_text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
}

.collapse_info {
    display: flex;
    gap: 70px;
}

.collapse_info_text {
    width: 100%;
    padding-bottom: 40px;
}

.photo_host {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.container_info_blockD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_info_blockD_name {
    display: flex;
}

.equipements-list {
    list-style: none;
    padding: 0;
    margin: 0;
}